#!/bin/bash
set -e

USER_DIR="/home/ubuntu"
PATH_TO_ZIP_ON_HOST="$USER_DIR/app.zip"
PATH_TO_APP_ON_HOST="$USER_DIR/app"

mkdir -p $PATH_TO_APP_ON_HOST

sudo -u ubuntu \
  aws s3api get-object \
  --bucket ${bucket_name} \
  --key ${app_object_key} \
  $PATH_TO_ZIP_ON_HOST

unzip $PATH_TO_ZIP_ON_HOST -d $PATH_TO_APP_ON_HOST/

docker-compose up

