#!/bin/bash

USER_DIR="/home/ubuntu"
mkdir -p $USER_DIR/.aws

cat << EOF > $USER_DIR/.aws/credentials
[default]
aws_access_key_id = ${aws_access_key_id}
aws_secret_access_key = ${aws_secret_access_key}
EOF

cat << EOF > $USER_DIR/.aws/config
[default]
aws_region = ${aws_region}
EOF